@charset "UTF-8";
/**
 *  RESETEO DE ESTILOS 
 *
 * -------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

/**
 *  ESTILOS GENERALES
 *
 * -------------------------------------------------------------------
 */
html {
  scroll-behavior: smooth;
}
@media (min-width: 0) and (max-width: 576px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 993px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-titulos {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 4rem;
  color: RGBA(9, 9, 13, 1);
}

/**
 * 00. NADVAR
 *
 * -------------------------------------------------------------------
 */
.header-principal {
  position: fixed;
  width: 100%;
  margin-top: 2rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 1000;
}
.header-principal .logo {
  padding: 1rem;
  width: 9rem;
}
.header-principal.logo-pequeño {
  background: RGBA(0, 3, 0, 0.7);
  margin-top: 0;
}
.header-principal.logo-pequeño .logo {
  width: 5rem;
}
.header-principal .lista-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.header-principal .lista-menu .item {
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 0 2rem;
}
.header-principal .lista-menu .item .link-menu {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 1rem;
  color: RGBA(255, 255, 255, 1);
  text-decoration: none;
  text-align: center;
  /* Animacion Linea Link */
}
.header-principal .lista-menu .item .link-menu:hover {
  color: RGBA(211, 211, 211, 1);
  font-size: 1.1rem;
}
.header-principal .lista-menu .item .link-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a1, #eb85ab);
  z-index: 9;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.header-principal .lista-menu .item .link-menu:hover::before {
  transform: scaleX(1);
}
.header-principal .lista-menu .item .link-menu[data-animation=to-left] a::before {
  transform-origin: right;
}
.header-principal .lista-menu .item .link-menu[data-animation=center] a::before {
  transform-origin: center;
}
.header-principal .lista-menu .item .link-menu[data-animation=bonus] a::before {
  transform-origin: right;
}
.header-principal .lista-menu .item .link-menu[data-animation=bonus] a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

/**
 * -------------------------------------------------------------------
 **/
/**
 * 01. INICIO
 *
 * -------------------------------------------------------------------
 */
.inicio {
  background-image: linear-gradient(to top, rgba(250, 206, 194, 0.301) 0%, rgba(255, 209, 255, 0.425) 100%), url("../img/png/portada.png");
  background-attachment: fixed;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.inicio .titulo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.inicio .titulo .titulo-header {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 10rem;
  text-shadow: 0.2rem 0.2rem RGBA(255, 255, 255, 1);
  background: linear-gradient(to right, RGBA(9, 9, 13, 1) 0, RGBA(211, 211, 211, 1) 10%, RGBA(9, 9, 13, 1) 20%);
  animation: barrido 9s ease-in-out infinite;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-size-adjust: none;
  /* ANIMACION DE BARRIDO A TEXTO ANDREA BARRIOS DEL INICIO */
}
@keyframes barrido {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 48vw;
  }
}
.inicio .titulo .subtitulo-header {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 2rem;
  color: RGBA(255, 255, 255, 1);
  text-shadow: 0.2rem 0.2rem RGBA(0, 3, 0, 0.7);
}
.inicio .titulo .boton-sobre-mi {
  position: absolute;
  bottom: 4rem;
  width: 5rem;
}
.inicio .titulo .boton-sobre-mi .flecha {
  /* ANIMACION FLECHA */
}
.inicio .titulo .boton-sobre-mi .flecha span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid RGBA(255, 255, 255, 1);
  border-right: 5px solid RGBA(255, 255, 255, 1);
  transform: rotate(45deg);
  margin: -10px;
  animation: flecha-animada 2s infinite;
}
.inicio .titulo .boton-sobre-mi .flecha span:nth-child(2) {
  animation-delay: -0.2s;
}
.inicio .titulo .boton-sobre-mi .flecha span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes flecha-animada {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .inicio .titulo .titulo-header {
    font-size: 8rem;
  }
  .inicio .titulo .subtitulo-header {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 02. SOBRE MI
 *
 * -------------------------------------------------------------------
 */
.sobre-mi {
  background-color: #EDE7F6;
  background-image: url("../img/svg/fondo-a2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.sobre-mi .perfil {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid RGBA(9, 9, 13, 1);
}
.sobre-mi .perfil .foto-perfil {
  width: 100%;
  border-top: 1rem solid RGBA(255, 255, 255, 1);
  border-left: 1rem solid RGBA(255, 255, 255, 1);
  border-right: 1rem solid RGBA(255, 255, 255, 1);
  border-bottom: 5rem solid RGBA(255, 255, 255, 1);
}
.sobre-mi .texto-sobre-mi {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.sobre-mi .texto-sobre-mi .sub-titulos-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sobre-mi .texto-sobre-mi .sub-titulos-div span hr {
  height: 10px;
  width: 50px;
  background-color: black;
}
.sobre-mi .texto-sobre-mi .sub-titulos-div span i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  color: RGBA(9, 9, 13, 1);
  font-size: 1.5rem;
  text-align: center;
}
.sobre-mi .texto-sobre-mi p {
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  color: RGBA(9, 9, 13, 1);
}
.sobre-mi .texto-sobre-mi p:first-letter {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
  margin: -30px 5px -20px 0;
  float: left;
}

@media (min-width: 0) and (max-width: 576px) {
  .sobre-mi {
    height: 100%;
  }
  .sobre-mi .perfil {
    margin-left: 25%;
    width: 50%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .sobre-mi {
    height: 100%;
  }
  .sobre-mi .perfil {
    margin-left: 25%;
    width: 50%;
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 03. TRABAJOS
 *
 * -------------------------------------------------------------------
 */
.trabajos {
  background-color: #EDE7F6;
  background-image: url("../img/svg/fondo-b.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%;
}
.trabajos .texto-trabajos-div {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.trabajos .texto-trabajos-div p {
  background: url("../img/gif/cierra.gif") no-repeat right bottom;
  padding-left: 18px;
  padding-right: 18px;
  text-indent: -18px;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: justify;
  color: RGBA(9, 9, 13, 1);
}
.trabajos .texto-trabajos-div p:first-letter {
  background: url("../img/gif/abre.gif") no-repeat left top;
  padding-left: 18px;
}
.trabajos .sub-titulos-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: RGBA(9, 9, 13, 1);
}
.trabajos .sub-titulos-div i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  color: RGBA(9, 9, 13, 1);
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 0) and (max-width: 576px) {
  .trabajos {
    display: none;
  }
}
.trabajos .galeria-tabajos {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100%;
}
.trabajos .galeria-tabajos .caja-img {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.trabajos .galeria-tabajos .caja-img > img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  filter: grayscale(100%);
}
.trabajos .galeria-tabajos .caja-img:hover {
  flex: 1 1 50%;
}
.trabajos .galeria-tabajos .caja-img:hover > img {
  width: 100%;
  height: 100%;
  filter: grayscale(0%);
}
.trabajos .galeria-tabajos-movil img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin: 1rem;
  border: 1px solid RGBA(211, 211, 211, 1);
  box-shadow: 1rem 1rem 2rem RGBA(211, 211, 211, 1);
}

@media (min-width: 0) and (max-width: 576px) {
  .trabajos {
    height: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .trabajos {
    height: 100%;
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 04. SERVICIOS
 *
 * -------------------------------------------------------------------
 */
.servicios {
  background-image: url(../img/svg/fondo-ab.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.servicios .sub-titulos-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: RGBA(9, 9, 13, 1);
}
.servicios .sub-titulos-div i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  color: RGBA(0, 3, 0, 0.7);
  font-size: 1.5rem;
  text-align: center;
}
.servicios .col-poladoid {
  height: 100%;
}
.servicios .col-poladoid .polaroid-grid {
  width: 100%;
  height: 70%;
  perspective: 1000px;
  display: inline-block;
}
@media (min-width: 0) and (max-width: 576px) {
  .servicios .col-poladoid .polaroid-grid {
    margin: 2rem 0;
    width: 100%;
    height: 30%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .servicios .col-poladoid .polaroid-grid {
    margin: 3rem auto;
    width: 100%;
    height: 40%;
  }
}
.servicios .col-poladoid .polaroid-grid .polaroid-container {
  width: 100%;
  height: 100%;
}
.servicios .col-poladoid .polaroid-grid .polaroid-container:hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-frontal {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  z-index: 2;
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-frontal .servicio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1rem 1rem 2rem RGBA(0, 3, 0, 0.7);
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-frontal .titulo-frontal-polaroid {
  background: rgba(240, 239, 235, 0.8);
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/png/fondoFoto.png);
  background-size: cover;
  padding: 2rem;
  object-fit: cover;
  box-shadow: 1rem 1rem 2rem RGBA(0, 3, 0, 0.7);
  z-index: 3;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .titulo-detras-polaroid {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 0) and (max-width: 576px) {
  .servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .titulo-detras-polaroid {
    font-size: 2rem;
    margin: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .titulo-detras-polaroid {
    font-size: 2rem;
  }
}
.servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .texto-polaroid {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: justify;
  font-style: italic;
  padding: 1rem;
  color: RGBA(9, 9, 13, 1);
}
@media (min-width: 0) and (max-width: 576px) {
  .servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .texto-polaroid {
    font-size: 0.8rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .servicios .col-poladoid .polaroid-grid .polaroid-container .flipper .polaroid-detras .texto-polaroid {
    font-size: 1rem;
  }
}
.servicios .containert-seccion-movile {
  z-index: 10;
  margin-top: 8rem;
}
.servicios .containert-seccion-movile .titulo-servicio-movile {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  margin: 2rem;
  color: RGBA(255, 255, 255, 1);
}
.servicios .containert-seccion-movile .texto-servicio-movile {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: justify;
  font-style: none;
  padding: 3rem;
  color: RGBA(9, 9, 13, 1);
  color: #fff;
}

@media (min-width: 0) and (max-width: 576px) {
  .servicios {
    z-index: 8;
    height: 100%;
    background-image: url(../img/jpg/shell.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .servicios .sub-titulos-div .sub-titulos {
    color: RGBA(255, 255, 255, 1);
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .servicios {
    z-index: 8;
    height: 100%;
    background-image: url(../img/jpg/shell.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .servicios .sub-titulos-div .sub-titulos {
    color: RGBA(255, 255, 255, 1);
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 05. GALERIA PERSONAL
 *
 * -------------------------------------------------------------------
 */
.galeria-personal {
  padding-top: 0;
  background-color: #EDE7F6;
}
.galeria-personal .carousel .carousel-indicators .sub-titulos-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.galeria-personal .carousel .carousel-indicators .sub-titulos-div .sub-titulos {
  color: RGBA(255, 255, 255, 1);
}
.galeria-personal .carousel .carousel-indicators [data-bs-target] {
  text-indent: 0;
  background-color: transparent;
  height: 2rem;
}
.galeria-personal .carousel .carousel-indicators a {
  text-decoration: none;
  color: RGBA(255, 255, 255, 1);
  font-size: 2.5rem;
}
.galeria-personal .carousel .carousel-indicators a i {
  font-size: 2rem;
}
.galeria-personal .carousel .carousel-inner {
  height: 100%;
}
.galeria-personal .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.galeria-personal .carousel .carousel-inner .carousel-item img {
  max-height: 1080px;
  object-fit: cover;
}
.galeria-personal .carousel .carousel-control-next, .galeria-personal .carousel .carousel-control-prev {
  height: 100px;
  width: 60px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: #E1BEE7;
}

@media (min-width: 0) and (max-width: 576px) {
  .galeria-personal {
    height: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .galeria-personal {
    height: 100%;
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 06. CONTACTO
 *
 * -------------------------------------------------------------------
 */
.contacto {
  padding: 5% 0;
  background-image: url(../img/jpg/servicios/servicio-1.jpg);
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.contacto::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.contacto .fondo-contacto {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/png/fondoFoto.png);
  background-size: cover;
  padding: 2rem;
  border: 1px solid RGBA(211, 211, 211, 1);
}
.contacto .fondo-contacto .sub-titulos-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: RGBA(9, 9, 13, 1);
}
.contacto .fondo-contacto .sub-titulos-div i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  color: RGBA(9, 9, 13, 1);
  font-size: 1.5rem;
  text-align: center;
}
.contacto .fondo-contacto p {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
  padding: 1rem;
  color: RGBA(9, 9, 13, 1);
}
.contacto .fondo-contacto .color-boton {
  background-color: #E1BEE7;
}

@media (min-width: 0) and (max-width: 576px) {
  .contacto {
    height: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contacto {
    height: 100%;
  }
}
/**
 * -------------------------------------------------------------------
 **/
/**
 * 06. FOOTER
 *
 * -------------------------------------------------------------------
 */
.pie {
  padding-top: 3rem;
  background-color: RGBA(9, 9, 13, 1);
  background-size: cover;
  background-position: center;
}
.pie .box-container {
  display: flex;
  flex-wrap: wrap;
}
.pie .box-container .box {
  margin: 2rem;
}
.pie .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.pie .box-container .box p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
}
.pie .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
  text-decoration: none;
}
.pie .box-container .box a:hover {
  text-decoration: underline;
}
.pie .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: #E1BEE7;
  font-size: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4.5rem;
  text-align: center;
}
.pie .credit {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff5;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

/**
 * -------------------------------------------------------------------
 **/
/**
 * 07. ERROR
 *
 * -------------------------------------------------------------------
 */
.error {
  height: 100vh;
  width: 100%;
}
.error .titulo-error {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.error .titulo-error .h1-error {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem RGBA(255, 255, 255, 1);
  color: RGBA(9, 9, 13, 1);
}
.error .titulo-error .span-error {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 1.5rem;
  color: RGBA(9, 9, 13, 1);
}
.error .centrado {
  position: relative;
  width: 800px;
  height: 500px;
}
.error .centrado .svg-error {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.error .color-boton-error {
  background-color: #E1BEE7;
}

/**
* -------------------------------------------------------------------
**/

/*# sourceMappingURL=style.css.map */
