@import '../utilities/variables';
@import '../utilities/mixins';

/**
 * 06. CONTACTO
 *
 * -------------------------------------------------------------------
 */
.contacto {

  padding: 5% 0 ;
  background-image: url(../img/jpg/servicios/servicio-1.jpg);
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .fondo-contacto {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/png/fondoFoto.png);
    background-size: cover;
    padding: 2rem;
    border: 1px solid $gris;


    .sub-titulos-div {
      @include estilos-subtitulos(row, 1rem, 1rem);
    }

    p {
      font-weight: map-get($grosor , extrabold );
      font-size: 1.2rem;
      text-align: justify;
      padding: 1rem;
      color: $negro;
    }

    .color-boton {
      background-color: $rosa;
    }
  }


}


/**
 * -------------------------------------------------------------------
 **/