@import '../utilities/variables';
@import '../utilities/mixins';

/**
 * 06. FOOTER
 *
 * -------------------------------------------------------------------
 */
.pie {
  padding-top: 3rem;
  background-color: $negro;
  background-size: cover;
  background-position: center;

  .box-container {
    display: flex;
    flex-wrap: wrap;

    .box {
     
      margin: 2rem;

      h3 {
        font-size: 2rem;
        padding: 1rem 0;
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 1rem;
      }

      p {
        font-size: 1.5rem;
        padding: .5rem 0;
        color: #eee;
      }

      a {
        display: block;
        font-size: 1.5rem;
        padding: .5rem 0;
        color: #eee;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .info {

        i {
          margin: .5rem 0;
          margin-right: 1rem;
          border-radius: 50%;
          background: #fff;
          color: $rosa;
          font-size: 1.5rem;
          height: 3.5rem;
          width: 3.5rem;
          line-height: 4.5rem;
          text-align: center;
        }
      }
    }
  }
.credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff5;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}
}

// Estilo celular
@include media(xs) {}

// Estilo Tablet
@include media(sm) {}



/**
 * -------------------------------------------------------------------
 **/