@import "../utilities/variables";
@import "../utilities/mixins";

/**
 * 05. GALERIA PERSONAL
 *
 * -------------------------------------------------------------------
 */

.galeria-personal {
  
  .sub-titulos-div {
    @include estilos-subtitulos(row, 0rem, 1rem);
  }
  .carousel {
    
    .carousel-inner{
      height: 100% ;
      .carousel-item{
        height: 100%;
        
      }
    }
    
  }
  .carousel-image {
    display: block;
    height: 90%;
    /* set min-width, allow images to set cell width */
    min-width: 400px;
    max-width: 50%;
    margin-right: 100px;
  }
  
  .carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
  }
}


// Estilo celular
@include media(xs) {
  
  .galeria-personal {
    height: 100%;
    
  }
}

// Estilo Tablet
@include media(sm) {
  .galeria-personal {
    height: 100%;
  }
  
}

/**
 * -------------------------------------------------------------------
 **/
