@import "../utilities/variables";
@import "../utilities/mixins";

/**
 * 05. GALERIA PERSONAL
 *
 * -------------------------------------------------------------------
 */

.galeria-personal {
  
  .sub-titulos-div {
    padding-top: 1rem ;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: $negro;
    i {
      margin: .5rem 0;
      margin-right: 1rem;
      color: $negro;
      font-size: 1.5rem;
      text-align: center;
  }

  }
  .carousel {
    
    .carousel-inner{
      height: 100% ;
      .carousel-item{
        height: 100%;
        
      }
    }
    
  }
  .carousel-image {
    display: block;
    height: 90%;
    /* set min-width, allow images to set cell width */
    min-width: 400px;
    max-width: 50%;
    margin-right: 100px;
  }
  
  .carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
  }
}


// Estilo celular
@include media(xs) {
  
  .galeria-personal {
    height: 100%;
    
  }
}

// Estilo Tablet
@include media(sm) {
  .galeria-personal {
    height: 100%;
  }
  
}

/**
 * -------------------------------------------------------------------
 **/
