@import "../utilities/variables";
@import "../utilities/mixins";

/**
 * 05. GALERIA PERSONAL
 *
 * -------------------------------------------------------------------
 */

.galeria-personal {
  padding-top: 0;
  background-color: $rosa-claro;

  .carousel {

    .carousel-indicators {
      .sub-titulos-div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;

        .sub-titulos {
          color: $blanco;
        }

      }

      [data-bs-target] {
        text-indent: 0;
        background-color: transparent;
        height: 2rem
      }


      a {
        text-decoration: none;
        color: $blanco;
        font-size: 2.5rem;

        i {
          font-size: 2rem;
        }
      }

    }


    .carousel-inner{
      height: 100% ;
      
      .carousel-item{
        height: 100%;
        img {
         max-height:1080px;
         object-fit: cover;
        }
      }
    }
    .carousel-control-next, .carousel-control-prev{height:100px; width:60px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: $rosa; }

  }

  
}


// Estilo celular
@include media(xs) {

  .galeria-personal {
    height: 100%;

  }
}

// Estilo Tablet
@include media(sm) {
  .galeria-personal {
    height: 100%;
  }

}


/**
 * -------------------------------------------------------------------
 **/