@import "../utilities/variables";
@import "../utilities/mixins";
/**
 * 02. SOBRE MI
 *
 * -------------------------------------------------------------------
 */

.sobre-mi {
  background-color: $rosa-claro;
  background-image: url("../img/svg/fondo-a2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  .perfil {
    width: 100%;

      padding-top: 0 ;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      border: 1px solid $negro;

    .foto-perfil {
      width: 100%;
      border-top: 1rem solid $blanco;
      border-left: 1rem solid $blanco;
      border-right: 1rem solid $blanco;
      border-bottom: 5rem solid $blanco;
      // border: 2rem 1rem solid $blanco;
    }
  }

  .texto-sobre-mi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    .sub-titulos-div {
      padding-top: 1rem ;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      span{
      hr{
        height: 10px;
        width: 50px;
        background-color: black;
      }
      i {
          margin: .5rem 0;
          margin-right: 1rem;
          color: $negro;
          font-size: 1.5rem;
          text-align: center;
      }
    }
    }

    p {
      font-weight: map-get($grosor, bold);
      font-size: 1rem;
      text-align: justify;
      padding: 1rem;
      color: $negro;

      // Primera letra
      &:first-letter {
        font-family: $fuente-titulos;
        font-size: 6rem;
        margin: -30px 5px -20px 0;
        float: left;
      }
    }
  }
}

// Estilo celular
@include media(xs) {
  .sobre-mi {
    height: 100%;
    .perfil {
      margin-left: 25%;
      width: 50%;
    }
  }
}

// Estilo Tablet
@include media(sm) {
  .sobre-mi {
    height: 100%;
    .perfil {
      margin-left: 25%;
      width: 50%;
    }
  }
}


/**
 * -------------------------------------------------------------------
 **/
