@import '../utilities/variables';
@import '../utilities/mixins';
/**
 * 02. SOBRE MI
 *
 * -------------------------------------------------------------------
 */

.sobre-mi {
  // background-color: #EDE7F6;
  background-color: $rosa-claro;
  background-image:
    url("../img/svg/fondo-a2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  @include media(md) {
    height: 100% !important;
  }


  .perfil {
    width: 100%;

    @include estilos-subtitulos(column, 0, 0);
    border: 1px solid $negro;

    .foto-perfil {
      width: 100%;
      border: 20px solid $blanco;
    }
  }


  .texto-sobre-mi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: .5em;
    row-gap: .5em;

    .sub-titulos-div {
      @include estilos-subtitulos(column, 1rem, 1rem);
    }

    p {
      font-weight: map-get($grosor, bold);
      font-size: 1.4rem;
      text-align: justify;
      padding: 1rem;
      color: $negro;

      // Primera letra 
      &:first-letter {
        font-family: $fuente-titulos;
        font-size: 6rem;
        margin: -30px 5px -20px 0;
        float: left;
      }
    }
  }

}

// Estilo Tablet


/**
 * -------------------------------------------------------------------
 **/