@import '../utilities/variables';
@import '../utilities/mixins';

/**
 * 03. TRABAJOS
 *
 * -------------------------------------------------------------------
 */
.trabajos {
  background-color: $rosa-claro;
  background-image:
    url("../img/svg/fondo-b.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%;

  // Texto de abajo
  .texto-trabajos-div {
    @include estilos-subtitulos(row, 0, 0);

    p {
      background: url("../img/gif/cierra.gif") no-repeat right bottom;
      padding-left: 18px;
      padding-right: 18px;
      text-indent: -18px;
      font-weight: map-get($grosor, bold);
      font-size: 1.4rem;
      text-align: justify;
      color: $negro;

      &:first-letter {
        background: url('../img/gif/abre.gif') no-repeat left top;
        padding-left: 18px;
      }
    }
  }


  // Titulo Trabajos
  .sub-titulos-div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: $negro;

    i {
      margin: .5rem 0;
      margin-right: 1rem;
      color: $negro;
      font-size: 1.5rem;
      text-align: center;
    }

  }

  // Lista de Fotss

  // .galeria-tabajos {
  //   width: 100%;
  //   height: 100%;
  //   @include estilos-subtitulos(row, 1rem, 2rem);
  //   flex-grow: 1;

  // tamaño de fuente para celulares
  @include media(xs) {
    display: none;
  }



  // .foto-trabajos {
  //   height: 100%;
  //   width: 10%;
  //   filter: grayscale(100%);
  //   transition: transform 0.7s;
  //   object-fit: cover;
  //   flex-grow: 1;

  //   &:hover {
  //     filter: grayscale(0%);
  //     transform: scale(1.1);
  //     width: 30%;
  //     margin: 0 2rem;
  //     transition: transform 0.7s;
  //     object-fit: fill;
  //   }
  // }

  .galeria-tabajos {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100%;


    .caja-img {
      flex: 1;
      overflow: hidden;
      transition: .5s;
      margin: 0;
      box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
      line-height: 0;

      &>img {
        width: 200%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
        filter: grayscale(100%);
      }

      &:hover {
        flex: 1 1 50%;
      }

      &:hover>img {
        width: 100%;
        height: 100%;filter: grayscale(0%);
      }



    }

    // }






  }




  .galeria-tabajos-movil img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin: 1rem;
    border: 1px solid $gris;
    box-shadow: 1rem 1rem 2rem $gris;
  }


}


// Estilo celular
@include media(xs) {

  .trabajos {
    height: 100%;

  }
}

// Estilo Tablet
@include media(sm) {
  .trabajos {
    height: 100%;
  }

}


/**
 * -------------------------------------------------------------------
 **/