@import '../utilities/variables';
@import '../utilities/mixins';

/**
 * 03. TRABAJOS
 *
 * -------------------------------------------------------------------
 */
.trabajos {
  
  background-color: $rosa-claro;
  background-image: 
    url("../img/svg/fondo-b.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%;
  // Estilos Movile
  @include media(xs) {
    height: 100%;
  }
  // Estilo Tablet
  @include media(sm) {
    height: 100%;
  }


  // Titulo Trabajos
  .sub-titulos-div {
    @include estilos-subtitulos(row, 0rem, 1rem);
  }

  // Lista de Fotss
  .galeria-tabajos {
    width: 100%;
    height: 60%;
    @include estilos-subtitulos(row, 1rem, 2rem);
    flex-grow: 1;

    // tamaño de fuente para celulares
    @include media(xs) {
      display: none;
    }



    .foto-trabajos {
      height: 100%;
      width: 10%;
      filter: grayscale(100%);
      transition: transform 0.5s;
      object-fit: cover;
      flex-grow: 1;

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        width: 30%;
        margin: 0 2rem;
        transition: transform 0.5s;
        object-fit: fill;
      }
    }

  }

  // Texto de abajo
  .texto-trabajos-div {
    @include estilos-subtitulos(row, 2rem, 1rem);

    p {
      background: url("../img/gif/cierra.gif") no-repeat right bottom;
      padding-left: 18px;
      padding-right: 18px;
      text-indent: -18px;
      font-weight: map-get($grosor, bold);
      font-size: 1.4rem;
      text-align: justify;
      color: $negro;
     
     &:first-letter {
        background: url('../img/gif/abre.gif') no-repeat left top;
        padding-left: 18px;
     }
    }
  }


  // Movile
  .galeria-tabajos-movil {
    display: none;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    row-gap: 0.5rem;

    @include media(xs) {
      display: grid;
    }
  }

  .galeria-tabajos-movil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border: 1px solid var(--GRIS);
    box-shadow: 1rem 1rem 2rem var(--SOMBRAS);
  }


}

/**
 * -------------------------------------------------------------------
 **/