// Seteando valores globales valores que vien por defecto 
@import '../utilities/variables';
@import "../utilities/mixins";

/**
 *  ESTILOS GENERALES
 *
 * -------------------------------------------------------------------
 */

html {
    scroll-behavior: smooth;
    // tama単o de fuente para celulares
    @include media(xs){
      font-size: 8px;
    }
     // tama単o de fuente para tablet
    @include media(sm){
      font-size: 10px;
    }
     // tama単o de fuente para celulares
     @include media(md){
      font-size: 12px;
    }
     // tama単o de fuente para tablet
    @include media(lg){
      font-size: 14px;
    }
    

}
body{
  font-family: $fuente-parrafo;

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  height: 100% ;
}
.row{
  height: 100% ;
 
}

section{
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.sub-titulos {
  font-family: $fuente-titulos;
  text-align: center;
  font-size: 4rem;
  color: $negro;
 
}
